<!DOCTYPE html>
<html>
	<head>
		<title>ЕГАИС Розница</title>

		<!-- Viewport mobile tag for sensible mobile support -->
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

		<!-- Javascripts from your assets folder are included here -->
		<script src="js/dependencies/jquery-1.11.3.min.js"></script>
		<script src="js/dependencies/underscore-min.js"></script>
		<script src="js/dependencies/backbone-min.js"></script>
		<script src="js/dependencies/sails.io.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/context.js"></script>

		<!-- CSS from your assets folder are included here -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/context.bootstrap.css" rel="stylesheet">
	</head>

	<body>
		<%- body %>
	</body>
</html>